<!DOCTYPE html>
<html lang="en" class="newNote">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>UNCC Notes App - New Note</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body class="center">
		<header>
			<h1> {{user}}'s PRAIR Notes!</h1>

			<nav class="nav">
				<!--  add navigation links -->
				<a href="{{ url_for('index') }}"> Home</a> ||
				<a href="{{ url_for('get_notes') }}"> My Notes</a> ||
				<a href="{{ url_for('new_note') }}">Add Note</a> ||
				<a href="{{ url_for('logout') }}">Logout</a>
			</nav>
		</header>

		{% if note %}
			<form action="{{ url_for('update_note', note_id=note.id) }}" method="post">
		{% else %}
			<form action="new" method="post">
		{% endif %}
		<p><label>Title</label></p>
		<p><input type="text" name="title" value="{% if note %}{{note.title}} {% endif %}"/></p>
		<br>
		<p><label>Note </label></p>
		<p>
			<textarea name="noteText"  rows="10" cols="30" >
				{% if note %}
					{{note.text}}
				{% else %}
					Add your new note here ...
				{% endif %}
			</textarea>
		</p>
        <p>
			{% if note %}
				<input type="submit" value="Update Note" class="noteButton"/>
			{% else %}
				<input type="submit" value="Add Note" class="noteButton"/>
			{% endif %}
		</p>
        </form>
    </body>
</html>